{% if page.project_name %}
<div class="smallListWrapper">
		{% if page.image %}
		<div class="pageImage">
			<img src="{{page.image}}" alt="{{page.title}}" class="pageImage">
		</div>
		{% endif %}
		{% if page.repository %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ page.repository }}">{% octicon repo class:"mr-2" height:12 %} Repository</a>
		</div>
		{% endif %}
		{% if page.repository_sw %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ page.repository_sw }}">{% octicon repo class:"mr-2" height:12 %} Firmware Repository</a>
		</div>
		{% endif %}
		{% if page.downloads %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ page.downloads }}">{% octicon download class:"mr-2" height:12 %} Downloads</a>
		</div>
		{% endif %}
		{% if page.wiki %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ page.wiki }}">{% octicon book class:"mr-2" height:12 %} Wiki</a>
		</div>
		{% endif %}
		{% if page.issues %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ page.issues }}">{% octicon bug class:"mr-2" height:12 %} Issues</a>
		</div>
		{% endif %}
</div>
{% endif %}