{% if page.project_name %}
<div class="smallListWrapper">
	<!-- <ul class="smallList"> -->
		{% if page.repository %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ repository }}">{% octicon repo class:"mr-2" height:12 %} Repository</a>
		</div>
		{% endif %}
		{% if page.repository %}
		<div class="smallListItem">
			<a class="smallListLink" href="{{ repository }}">{% octicon repo class:"mr-2" height:12 %} Long Repository</a>
		</div>
		{% endif %}
	<!-- </ul> -->
</div>
{% endif %}