<!-- based on https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp -->

<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
} 
</script>

<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
	<a href="/projects">Projects</a>
	<a href="/showcase">Showcase</a>
	<a href="/newidea">New Idea</a>
  <a href="/about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div> 