@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.smallListWrapper {

	@include large {
		float: right;
		margin-left: 1rem;
	}

  @include medium {
		float: right;
		margin-left: 1rem;
	}

	margin-top: 1rem;
	border-style: solid;
	border-width: thin;
	border-color: #ccc;
}

.smallList {
	list-style: none;
}

.smallListItem {
	background-color: inherit;
	padding: 0.1rem 1rem;
	border-bottom: thin solid #eeeeee;
}
.smallListItem:hover {
	background-color: #eee;
}

.smallListLink {
	text-decoration: none;
}

.smallListLink:hover {
		text-decoration: none;
}

.mr-2 {
	margin-right: 6px;
}

.pageImage {
	@include large {
		max-height: 14rem;
		max-width: 14rem;
	}

  @include medium {
		max-height: 14rem;
		max-width: 14rem;
	}

	@include small {
		max-height: 20rem;
		max-width: 20rem;
	}

	margin: auto;
	display: block;
}


.pageListWrapper {

}

.pageList {
	list-style: none;
}

.pageListItem {
	background-color: inherit;
	border-top: thin solid #eeeeee;
	display: table;
}

.pageListLink {
	text-decoration: none;
}

.pageListLink:hover {
		text-decoration: none;
}

.pageListImage {

	@include large {
		max-height: 14rem;
		max-width: 14rem;
		float: right;
		padding-top: 1.8rem;
		padding-bottom: 1.8rem;
	}

  @include medium {
		max-height: 14rem;
		max-width: 14rem;
		float: right;
		padding-top: 1.8rem;
		padding-bottom: 1.8rem;
	}

	@include small {
		max-height: 20rem;
		max-width: 20rem;
	}

	margin: auto;
	display: block;
}
