@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.smallListWrapper {
  display: block;
  float: right;
  margin-top: 1rem;
  margin-left: 1rem;
	border-style: solid;
	border-width: thin;
	border-color: #ccc;
}

.smallList {
	list-style: none;
}

.smallListItem {
	background-color: inherit;
	padding: 0.1rem 1rem;
	border-bottom: thin solid #eeeeee;
	// position: relative;
	// margin: auto auto
}
.smallListItem:hover {
	background-color: #eee;
}

.smallListLink {
	text-decoration: none;
}

.smallListLink:hover {
		text-decoration: none;
}

.mr-2 {
	margin-right: 6px;
	// height: 14px;
	// margin-top: 2px;
}